<head>
    <link rel="stylesheet" type="text/css" href="/css/components/header.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand ml-3" href="#">
        <img src="/assets/icons/kanban.svg" class="d-inline-block align-top" alt="Logo">
        <span>Kanprojects</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Projetos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Users</a>
                  <a class="dropdown-item" href="#">Projects</a>
                  <a class="dropdown-item" href="#">Sprints</a>
                </div>
              </li>
        </ul>
        <ul class="form-inline my-lg-0">
            <span>Ola, <a href="#">Danilo Martin</a></span>
            <a class="navbar-brand ml-3" href="#">
                <img src="/assets/icons/logout.svg" class="d-inline-block align-top" alt="Sair">
            </a>
        </ul>
    </div>
</nav>