@import './global.css';

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
   position: relative;
   width: 90%;
   height: 60vh;
   display: flex; 
}

section .img {
    position: relative;
    width: 50%;
    height: 100%;
}

section .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content .form {
    width: 50%;
}

section .content .form h1 {
    color: var(--title);
    font-weight: 600;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

section .content .form h2 {
    color: var(--title);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--blue);
    display: inline-block;
    letter-spacing: 1px;
}

section .content .form .input {
    margin-bottom: 20px;
}

section .content .form .input span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--title);
    font-weight: 300;
    letter-spacing: 1px;
}

section .content .form .input input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--title);
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--title);
    background: transparent;
    border-radius: 30px;
}

section .content .form .input input[type="submit"] {
    background: var(--blue);
    color: var(--white);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .content .form .input input[type="submit"]:hover {
    background: var(--blue-hover);
}

section .content .form .remember {
    margin-bottom: 10px;
    color: var(--title);
    font-weight: 400;
    font-size: 14px;
}

section .content .form .input p {
    color: var(--title);
}

section .content .form .input p a {
    color: var(--green-hover);
}

@media (max-width: 768px) {
    section {
        width: 100%;
        height: 100vh;
    }

    section .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .content .form {
        width: 100%;
        padding: 40px;
        background: rgb(255,255,255,0.9);
        margin: 50px;
    }
    section .content .form h1 {
        color: var(--title);
        text-align: center;
        font-weight: bold;
    }
}
